# Server
PORT=<port>

# Gmail credentials
EMAIL=<your_email@gmail.com>
EMAIL_PASSWORD=<your_gmail_app_password>

# CORS
URL=<http://localhost:5173>

# JWT Secret (must match the one used in recaptcha microservice)
JWT_SECRET=<your_super_secret_key_here>